* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

body, html {
	height: 100%;
	width: 100%;
}

#main {
	position: absolute;
	top: 2%;
	left: 1%;
	height: 86%;
	width: 98%;
}

#reader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 40%;
}

	#trinkets {
		position: absolute;
		top: 0;
		left: 0;
		height: 49%;
		width: 100%;
		resize: none;
		overflow: hidden;
		background: #EEEEEE;
	}
	
	#karaChest {
		position: absolute;
		top: 51%;
		left: 0;
	}
	
	#chest {
		position: absolute;
		top: 55%;
		left: 0;
		height: auto;
		width: 100%;
		resize: none;
		overflow: hidden;
		background: #EEEEEE;
	}
	
	#gear {
		position: absolute;
		top: 60%;
		left: 0;
		height: 40%;
		width: 100%;
		resize: none;
		overflow: hidden;
		background: #EEEEEE;
	}

#options {
	position: absolute;
	top: 0;
	left: 40%;
	height: 100%;
	width: 10%;
}
	
.output {
	position: relative;
	left: 0;
	height: 10%;
	width: 100%;
	background: #DDDDDD;
	font-size: 150%;
}
	
	#singletons {
		top: 0;
	}
	
	#pairs {
		top: 3%;
	}
	
	#export {
		top: 6%;
	}
	
	#restore {
		top: 9%;
	}

#result {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 49%;
}
